/* color palette
background 1: #eceeee
background 2: #2d4055
font: #051320
bg-rectangles: #76dcc2 #051320 #6a7c86 */

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #2d4055;
	color: #051320;
	font-family: "DM Sans", sans-serif;
}

.container {
	background-color: #eceeee;
	max-width: 1200px;
	height: 1000px;
	margin: 30px auto;
}

/* background shapes */

.background {
	float: left;
	padding-left: 80px;
}

#shape-white {
	width: 220px;
	height: 176px;
	background-color: white;
	border-bottom-right-radius: 60px;
	position: relative;
	left: 233px;
}

#shape-person {
	width: 220px;
	height: 350px;
	border-bottom-right-radius: 60px;
	border-top-left-radius: 60px;
	background: url("images/streetwear.gif") 45% 42%;
	position: absolute;
	top: 222px;
	border-bottom: 12px solid #eceeee;
	border-right: 12px solid #eceeee;
	z-index: 1;
}

#shape-aqua {
	width: 220px;
	height: 310px;
	background-color: #76dcc2;
	border-top-right-radius: 60px;
	position: relative;
	left: 233px;
	top: 15px;
}

#shape-aqua img {
	width: 130px;
	height: auto;
	position: absolute;
	top: 60px;
	left: 46px;
}

#shape-dark {
	width: 220px;
	height: 160px;
	background-color: #051320;
	border-bottom-right-radius: 60px;
	color: white;
	font-size: 12px;
	font-weight: 100;
	position: absolute;
	top: 550px;
}

#shape-dark p {
	padding: 110px 0 0 20px;
	letter-spacing: 1px;
	font-weight: 100;
}

#shape-circle {
	background-color: #eceeee;
	width: 220px;
	height: 220px;
	border-radius: 50%;
	position: relative;
	left: 233px;
	top: -75px;
}

#shape-outline {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 1px solid #051320;
	position: relative;
	left: 242px;
	top: -285px;
}

#shape-line {
	height: 100px;
	width: 1px;
	background-color: #051320;
	position: relative;
	left: 341px;
	top: -285px;
}

#shape-line-dot {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #051320;
	position: relative;
	top: -285px;
	left: 338px;
}

/* foil image changed to silver ball */

#shape-foil {
	background: url("images/silverball.jpeg") 40%;
	background-size: cover;
	width: 180px;
	height: 180px;
	border-radius: 50%;
	position: relative;
	left: 253px;
	top: -620px;
	z-index: 1;
}

.background > p {
	text-align: center;
	color: #4a4041;
	font-size: 14px;
	position: relative;
	top: -255px;
	left: 233px;
}

.background > p a {
	color: #4a4041;
}

#shape-dot {
	height: 7px;
	width: 7px;
	border-radius: 50%;
	background-color: #eceeee;
	position: relative;
	top: -657px;
	left: 20px;
	z-index: 1;
}

#shape-paint {
	width: 220px;
	height: 309px;
	border-top-right-radius: 60px;
	background: url("images/paint.gif");
	position: absolute;
	top: 722px;
}

/* music title and artist scroller */

.scroller {
	height: 1.2em;
	line-height: 1.2em;
	position: relative;
	top: 45px;
	left: 25px;
	overflow: hidden;
	width: 10em;
	color: #eceeee;
	text-shadow: 1px 1px 5px #051320;
}
.scroller > span {
	position: absolute;
	top: 0;
	animation: slide 5s infinite;
	font-weight: bold;
	text-align: right;
}
@keyframes slide {
	0% {
		top: 0;
	}
	33% {
		top: -1.3em;
	}
	67% {
		top: -2.5em;
	}
}

#shape-paint button {
	height: 50px;
	width: 50px;
	background-color: #eceeee;
	position: absolute;
	left: 140px;
	top: 30px;
	outline: none;
}

#shape-paint button i {
	color: #76dcc2;
}

#shape-paint button i:hover {
	color: #eceeee;
}

#shape-paint button:hover {
	background-color: #76dcc2;
}

/* content area on the right side */

.content {
	width: 500px;
	height: 600px;
	float: right;
	margin: 200px 50px 0 0;
	overflow-y: scroll;
	padding-right: 30px;
}

/* slogan area within content on right */

.slogan {
	padding-bottom: 150px;
}

h1 {
	font-size: 65px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: 1px;
}

/* button area under slogan */

.buttons {
	margin-top: 50px;
	display: flex;
	justify-content: flex-start;
}

button {
	height: 55px;
	width: auto;
	border: none;
	border-radius: 30px;
}

button:hover {
	cursor: pointer;
}

button:active {
	cursor: pointer;
}

#btn-wearnow {
	color: white;
	background-color: #051320;
	font-weight: 300;
	letter-spacing: 1px;
	padding: 0 35px;
}

#btn-wearnow:hover {
	color: #051320;
	background-color: white;
}

#btn-arrow {
	font-size: 25px;
	background-color: white;
	width: 55px;
	border-radius: 50%;
}

#btn-arrow:hover {
	color: white;
	background-color: #76dcc2;
}

#btn-texture {
	background: url("images/silver-fabric.png") no-repeat top right;
	width: 110px;
}

#btn-texture:hover {
	filter: invert();
}

/* list area at the bottom right */

.list-item {
	border-top: 2px solid #051320;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding-bottom: 45px;
}

.list-item h2 {
	font-size: 40px;
	font-family: "B612 Mono", monospace;
}

.list-item-center {
	display: flex;
	justify-content: space-between;
	width: 230px;
}

.list-item img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-top: 3px;
}

.list-year {
	margin-bottom: 22px;
	font-family: "B612 Mono", monospace;
}
